#users {
    display: grid;
    grid-template-columns: 250px 1fr;
}

@media (max-width: 940px) {
    #users {
        grid-template-columns: 198px 1fr;
    }
}

@media (max-width: 560px) {
    #users {
        grid-template-columns: auto;
    }

    #sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #sidebar ul button{
        width: max-content;
        display: inline-block;
    }
}